@using Olive.Admin.Resources
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="javascript:void(0);">
                    <i class="fa fa-user"></i> <span>@Olive_Admin_Language.Account</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href='@Url.Action("Index", "Doctor")'>
                            <i class="fa fa-medkit"></i> @Olive_Admin_Language.Doctor
                        </a>
                    </li>
                    <li>
                        <a href="../../index2.html">
                            <i class="fa fa-tablet"></i> @Olive_Admin_Language.Patient
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="../widgets.html">
                    <i class="fa fa-map"></i> <span>@Olive_Admin_Language.Place</span>
                </a>
            </li>
            <li>
                <a href="../widgets.html">
                    <i class="glyphicon glyphicon-folder-open"></i> <span>@Olive_Admin_Language.MedicalCategory</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>